{% extends 'templates/app.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">Change password</div>
                <div class="card-body">
                    <form action="{{ path_for('auth.password.change') }}" method="post">
                        <div class="form-group">
                            <label for="current_password">Current password</label>
                            <input class="form-control {{ errors.current_password ? 'is-invalid' : '' }}" id="current_password" name="current_password" type="password">
                                {% if errors.current_password %}
                                    <span class="invalid-feedback">
                                        {{ errors.current_password | first }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                    <label for="password">New password</label>
                                    <input class="form-control {{ errors.password ? 'is-invalid' : '' }}" id="password" name="password" type="password">
                                        {% if errors.password %}
                                            <span class="invalid-feedback">
                                                {{ errors.password | first }}</span>
                                        {% endif %}
                                    </div>
                            <div class="form-group">
                                <button class="btn btn-outline-primary">Change password</button>
                            </div>
                            {{ csrf.field | raw }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
